<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="homepage">
    <h1><%= title %></h1>
    <p class="site-description">Not logged in, you get to view messages.  Nothing else!</p>
    <p class="site-description">Logged in but not a member, you get to post messages but still can't see the authors and dates of other messages.</p>
    <p class="site-description">You're a member, cool! You get to see all the details of these messages now.</p>
    <p class="site-description">Only the admins of this site can delete things.  Remember the internet is forever.</p>
    <% if (user) { %>
      <h2>Welcome <%= user.first_name %></h2>
      <% if (user.member) { %>
        <p class="site-description">You are a member! Or in other words, one of the cool kids.</p>
      <% } %>
      <div class="user-links-container">
        <a href="/log-out">Log Out</a>
        <% if (!user.member) { %>
          <a href="/member">Become a member</a>
        <% } %>
      </div>
    <% } else { %>
      <div class="user-links-container">
        <a href='/log-in'>Log-In</a>
        <a href="/sign-up">Sign-Up</a>
      </div>"
    <% } %>
    <h2>Messages</h2>
    <% if (user) { %>
      <a href="/message" class="new-message-link">Post a new message</a>
    <% } %>
    <div class="messages-container">
      <% for (let i = 0; i < messages.length; i++) { %>
        <div class="message-div">
          <div class="message-data">
            <% if (user && user.member) { %>
              <p><%= messages[i].user.first_name + " " + messages[i].user.last_name %></p>
              <p><%= messages[i].date %></p>
            <% } else { %>
              <p>Someone</p>
              <p>Sometime</p>
            <% } %>
          </div>
          <p><%= messages[i].text %></p>
        </div>
      <% } %>
    </div>
  </body>
</html>